.splitcontainer {
  display: flex;
  padding-left: 20rem;
}

.span6.col-md-6 {
  width: inherit;
  padding-right:  1rem;
  padding-left: 1rem;
}
.container {
}
.flex-item {
  flex-grow: 1;
}
.fixed {
  width: 200px;
}
.row {
  width: 60rem;
}