<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

            <div data-spy="affix" data-offset-top="200">
                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">
                            {{ partial "navbar.html" . }}
                        </div>
                        
                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">

                                <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                            </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>
                </div>
            </div>
            <!-- /#navbar -->
        </header>

        <section class="bar background-white nopadding">
            <div class="container">
                <img src="{{ .Site.BaseURL }}img/ante_white.svg" class="logo" width="200rem" alt="{{ .Title }}">
            
                <div class="container" padding=0 margin=0>

                    <h2>The compile-time language</h2>

                    <div class="lead" text-align="center">{{ .Site.Params.description }}</div>
                </div>
            </div>
        </section>

        <section class="bar background-white"style="padding: 0 !important; margin-top: -3rem; margin-bottom: 2rem;">
            <div class="container" >
                <h2>Ante is in active development</h2>

                <div class="lead" text-align="center">
                    Ante is currently in active development and the compiler is in a very early state.
                    In addition, the features listed on this website detail the language itself rather
                    than the subset that is implemented by the current compiler.  If you are interested
                    to see which features are implemented, please look at the github page linked below.
                    Any features not tested in the integration tests are likely to not yet be implemented.
                </div>
            </div>
        </section>


        {{ partial "carousel.html" . }}
        
        <section class="bar background-white">
            <div class="container">
                <h2>A New Way to Metaprogram</h2>

                <div class="lead" text-align="center">
                    Ante's primary feature is its use of compile-time execution to also interface
                    with the compiler as a library and allow compiler extensions to be made within
                    the program itself.  This allows for programming your own optimization passes,
                    implementing ownership semantics, extending the type system, and more.
                </div>
            </div>
        </section>

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
